.App {
  text-align: center;
  position: relative;
}

#Pitch {
  display: flex;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 110px;
  z-index: 1;
}

header {
  position: fixed;
  height: 110px;
  width: 100%;
  background-color: white;
  z-index: 2;
} 

h2{
  background-color: rgba(55, 0, 60, .9);
  color: white;
  font-family: Georgia,Times,Times New Roman,serif; 
  padding: 1%;
  text-align: left;
}

#soccer-img {
  margin-right: 2%;
  margin-left: 3%;
}

#week-number {
  float: right;
  margin-right: 5%;
}

.team-flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 35px;
  margin: 4px;
  background-image: linear-gradient(to right,
                    rgba(0, 0, 0, 0),
                    rgba(55, 0, 60, 0.2) 85%, 
                    rgba(0, 0, 0, 0));
}

.team-img {
  height: 30px;
  width: 30px;
  position: relative;
  z-index: 1;
}

.team-text {
  padding-left: 1%;
  position: relative;
  width: 100%;
  text-align: left;

  color: rgba(55, 0, 60);
  font-family: Georgia,Times,Times New Roman,serif; 
  font-size: larger;
  font-weight: bold;
  opacity: .5;
}

#animationButtonGroup {
  margin-bottom: 5px;
}

.btn.btn-secondary {
  background-color: rgba(55, 0, 60, .9);
  border: rgba(55, 0, 60, .8);
}
