.App {
  text-align: center;
  background-color: rgb(255, 255, 255);
  position: relative;
}


#Pitch.container{
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  align-items: center;
}



#Pitch {
  display: flex;
  flex-direction: row;

  padding-left: 3%;
  padding-right: 3%;
}


h1{
  color: #37003c;
}

.team-flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 35px;
  margin: 4px;
  background-image: linear-gradient(to right,
                    rgba(0, 0, 0, 0),
                    rgba(55, 0, 60, 0.2) 85%, 
                    rgba(0, 0, 0, 0));
                    /* rgba(55, 0, 60, 0.2)); */
}


.team-img {
  height: 30px;
  width: 30px;
  position: relative;
}


#animationButtonGroup {
  margin-bottom: 5px;
}


hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


/* .pCol {
  position: absolute;
}   */

/* .pRow{
  position: absolute;
}  */